@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Graphik;
  src: url(../app/fonts/GraphikTH-SemiBold.woff2);
  src: url(../app/fonts/GraphikTH-Regular.woff2);
}

* {
  font-family: Graphik;
}

@layer utilities {
  .no-tap-highlight {
    -webkit-tap-highlight-color: transparent;
  }
}

.no-select {
  -webkit-user-select: none; /* สำหรับ Chrome/Safari */
  -moz-user-select: none; /* สำหรับ Firefox */
  -ms-user-select: none; /* สำหรับ IE10+ */
  user-select: none; /* สำหรับเบราว์เซอร์ทั่วไป */
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
